.navbar-brand {
  width: 90%;
  margin: auto;
}

.is-owner {
  background-color: rgb(19, 31, 50);
  color: rgb(184, 187, 191);
}

.is-guest {
  background-color: rgb(100, 149, 237);
}

.is-title {
  color: whitesmoke;
  padding: 0;
}

.is-flex {
  display: flex;
  justify-content: center;
}

.has-text-snow {
  color: rgb(184, 187, 191);
}

.container {
  width: 90%;
  margin: auto;
}

