.navbar-brand {
  width: 90%;
  margin: auto;
}

.is-owner {
  background-color: rgb(19, 31, 50);
  color: rgb(184, 187, 191);
}

.is-guest {
  background-color: rgb(100, 149, 237);
}

.is-title {
  color: whitesmoke;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 700;
}

.is-flex {
  display: flex;
  justify-content: center;
}

.has-text-snow {
  color: rgb(184, 187, 191);
}

.container {
  width: 90%;
  margin: auto;
}

.is-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: .2rem 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.nav-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}
.nav-star {
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-link {
  display: inline;
  color: rgb(184, 187, 191);
}

.is-link:hover {
  text-decoration: underline;
}
