<nav
  class="navbar has-flex is-owner"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img
        src="../assets/images/contact.png"
        alt="contact logo"
        width="32"
        height="32"
      />
    </a>
    <h1 class="navbar-item is-title has-text-snow">contactHim</h1>
  </div>
</nav>
<section class="section">
  <div class="container">
    <app-contact></app-contact>
  </div>
</section>
<footer class="is-footer is-owner"><small>Powered by darwgom all right reserved 2020</small></footer>
